# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Carpetas de AutoSave
# =========================

/jam2018/Binaries
/jam2018/DerivedDataCache
/jam2018/Intermediate
/jam2018/Saved
